<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> - Pintereso Bootstrap Template</title>
    <script type="text/javascript">(function () { var css = document.createElement('link'); css.href = 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })();</script>
    <link rel="stylesheet" href="~/Assets/template-pintereso-bootstrap-html-master/docs/assets/css/app.css">
    <link rel="stylesheet" href="~/Assets/template-pintereso-bootstrap-html-master/docs/assets/css/theme.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- Link đến Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Link đến jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Link đến Bootstrap JavaScript và các plugin cần thiết -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Thêm thư viện jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script src="https://kit.fontawesome.com/6208ee92db.js" crossorigin="anonymous"></script>


    <script type="text/javascript">(function () { var css = document.createElement('link'); css.href = 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })();</script>
    <link href="~/Assets/template-pintereso-bootstrap-html-master/docs/assets/css/app.css" rel="stylesheet" />
    <link href="~/Assets/template-pintereso-bootstrap-html-master/docs/assets/css/theme.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <style>

        .notification {
            background-color: #555;
            color: white;
            text-decoration: none;
            padding: 10px 7px;
            position: relative;
            display: inline-block;
            border-radius: 2px;
            background-color: transparent;
        }

            .notification:hover {
                background: transparent;
            }

            .notification .badge {
                position: absolute;
                right: -3px;
                border-radius: 50%;
                background-color: red;
                color: white;
            }

        #backgroundProfile {
            background-position: center;
            background-size: cover; /* This ensures the image covers the entire element */
        }

        .profile {
            position: relative;
            display: inline-block;
        }

        .inline {
            display: inline;
        }

        #circleButton {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: rgba(52, 152, 219, 0.5);
            color: #fff;
            border: none;
            cursor: pointer;
            outline: none;
        }

        input {
            margin-bottom: 10px;
            width: 100%;
            padding: 8px;
        }

        .popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            z-index: 1000;
        }

        /* Styles for close button */
        .close-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }

        .payment-info {
            background: blue;
            padding: 10px;
            border-radius: 6px;
            color: #fff;
            font-weight: bold;
        }

        .product-details {
            padding: 10px;
        }

        body {
            background: #eee;
        }

        .cart {
            background: #fff;
        }

        .p-about {
            font-size: 12px;
        }

        .table-shadow {
            -webkit-box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.42);
            box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.42);
        }

        .type {
            font-weight: 400;
            font-size: 10px;
        }

        label.radio {
            cursor: pointer;
        }

            label.radio input {
                position: absolute;
                top: 0;
                left: 0;
                visibility: hidden;
                pointer-events: none;
            }

            label.radio span {
                padding: 1px 12px;
                border: 2px solid #ada9a9;
                display: inline-block;
                color: #8f37aa;
                border-radius: 3px;
                text-transform: uppercase;
                font-size: 11px;
                font-weight: 300;
            }

            label.radio input:checked + span {
                border-color: #fff;
                background-color: blue;
                color: #fff;
            }

        .credit-inputs {
            background: rgb(102,102,221);
            color: #fff !important;
            border-color: rgb(102,102,221);
        }

            .credit-inputs::placeholder {
                color: #fff;
                font-size: 13px;
            }

        .credit-card-label {
            font-size: 9px;
            font-weight: 300;
        }

        .form-control.credit-inputs:focus {
            background: rgb(102,102,221);
            border: rgb(102,102,221);
        }

        .line {
            border-bottom: 1px solid rgb(102,102,221);
        }

        .information span {
            font-size: 12px;
            font-weight: 500;
        }

        .information {
            margin-bottom: 5px;
        }

        .items {
            -webkit-box-shadow: 5px 5px 4px -1px rgba(0,0,0,0.25);
            box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.08);
        }

        .spec {
            font-size: 11px;
        }
        /* Style cho thanh thông báo */
        /* Style cho thanh thông báo */
        .notification-manageUser {
            position: relative;
            display: inline-block;
        }

        .badge-manageUser {
            position: absolute;
            right: -3px;
            border-radius: 50%;
            background-color: red;
            color: white;
        }

        /* Style cho dropdown thông báo */
        .dropdown-manageUser {
            display: none;
            position: absolute;
            min-width: 300px; /* Điều chỉnh độ rộng của dropdown */
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
            background-color: #f9f9f9;
            border-radius: 8px;
            overflow: hidden;
            text-align: left; /* Căn lề sang trái */
        }

        .dropdown-content-manageUser {
            padding: 15px;
        }

        /* Hiển thị dropdown khi hover hoặc click */
        .notification-manageUser:hover .dropdown-manageUser {
            display: block;
        }

        /* Style cho hình chữ nhật bo góc */
        .notification-item-manageUser {
            border: 2px solid #333; /* Đổi màu và đậm hơn so với viền trước đó */
            border-radius: 8px;
            margin-bottom: 10px;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Đổ bóng */
        }

            .notification-item-manageUser img {
                border-radius: 50%; /* Đặt border-radius là 50% để tạo hình tròn */
                width: 30px; /* Kích thước ảnh */
                height: 30px;
                float: left;
                margin-right: 10px;
                object-fit: cover; /* Đảm bảo hình ảnh sẽ chứa đầy đủ vào khu vực bo tròn */
            }

            .notification-item-manageUser .date-manageUser {
                position: absolute;
                top: 0;
                right: 0;
                color: #999;
                font-size: 12px;
                line-height: 1;
            }


            .notification-item-manageUser .name-manageUser,
            .notification-item-manageUser .message-manageUser {
                display: block;
                margin-bottom: 5px;
            }
    </style>
</head>

<body>
    @RenderPage("~/Views/Shared/Navigation.cshtml")



    <main role="main">
        @RenderBody()


    </main>
    @RenderPage("~/Views/Shared/Footer.cshtml")

</body>

</html>
