

<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <a class="navbar-brand font-weight-bolder mr-3" href="~/Audience/Manage/Manage"><img src="~/Assets/template-pintereso-bootstrap-html-master/docs/assets/img/logo.png"></a>
    <button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsDefault">
        
        <ul class="navbar-nav ml-auto align-items-center">

            <li class="nav-item">
                <a class="nav-link" href="~/Audience/Manage/Manage">
                    Home
                </a>
            </li>

            <li class="notification">
                <span class="badge" id="badgeNum"></span>
                <a class="nav-link" href="~/Audience/Manage/Cart">Cart</a>
            </li>
            <li class="notification-manageUser">
                
                <a class="nav-link" href="#">
                    <img src="https://img.icons8.com/?size=256&id=pXOksSoyv6At&format=png" alt="Notification Icon" width="20" />
                </a>

                <!-- Dropdown thông báo -->
                <div class="dropdown-manageUser">
                    <div class="dropdown-content-manageUser">
                       
                        <div id="apiDataContainer2"></div>

                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="glyphicon glyphicon-bell"></i>
                    <span class="badge" id="badgeNum"></span>
                </a>

                <div class="dropdown-menu notifications" aria-labelledby="navbarDropdown">
                    <div class="notification-heading">
                        <h4 class="menu-title">Notifications</h4>
                        <h4 class="menu-title pull-right">View all <i class="glyphicon glyphicon-circle-arrow-right"></i></h4>
                    </div>
                    <div class="notifications-wrapper">
                        <!-- Your notification items go here -->
                    </div>
                    <div class="notification-footer">
                        <h4 class="menu-title">View all <i class="glyphicon glyphicon-circle-arrow-right"></i></h4>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <script>
                    var userId = sessionStorage.getItem('userId');
                    $(document).ready(function () {
                        $.ajax({
                            type: 'GET',
                            url: `https://localhost:7008/api/Notification/GetNotiByUserId?userId=${userId}`,
                            success: function (response) {
                                if (response.dataObject && Array.isArray(response.dataObject) && response.dataObject.length > 0) {
                                    // Iterate through each artwork in the response
                                    response.dataObject.forEach(function (noti) {
                                      
                                     const strHTML2 = `
                    <div class="notification-item-manageUser">
                    <img src="data:image/png;base64, ${noti.avatar}" alt="Avatar" class="avatar-manageUser">
                        <span class="name-manageUser">${noti.fullName} </span>
                            <span class="message-manageUser">${noti.contentNoti}</span>
                    </div>
                     <span class="date-manageUser">${formatDate(noti.dateNoti)}</span>
                                    `;
                                        $('#apiDataContainer2').append(strHTML2);
                                    });
                                } else {
                                    console.error('Invalid or empty response from the API.');
                                }
                            },
                            error: function (error) {
                                console.error('Error:', error);
                            }
                        });
                    });
                    function formatDate(apiDate) {
                        const date = new Date(apiDate);
                        const day = date.getDate().toString().padStart(2, '0'); // Lấy ngày, thêm '0' phía trước nếu chỉ có một chữ số
                        const month = (date.getMonth() + 1).toString().padStart(2, '0'); // Lấy tháng (tháng bắt đầu từ 0), thêm '0' phía trước nếu chỉ có một chữ số
                        const year = date.getFullYear();

                        return `${day}-${month}-${year}`;
                    }
                </script>

                <script>
                    var userId = sessionStorage.getItem('userId');
                    $(document).ready(function () {
                        $.ajax({
                            type: 'GET',
                            url: `https://localhost:7008/api/ShoppingCart/user/${userId}`,
                            success: function (response) {
                                if (response && Array.isArray(response) && response.length > 0) {
                                    // Iterate through each artwork in the response
                                    document.getElementById('badgeNum').innerText = response.length;
                                } else {
                                    console.error('Invalid or empty response from the API.');
                                }
                            },
                            error: function (error) {
                                console.error('Error:', error);
                            }
                        });
                    });
                    document.addEventListener('DOMContentLoaded', function () {
                        var storedUserEmail = sessionStorage.getItem('userEmail');
                        var storedUserEmailLocal = localStorage.getItem('userEmailLocal');
                        // Thực hiện đăng xuất sau 5 giây
                        var sessionTimeout = 3600000;
                        setTimeout(function () {
                            // Xóa thông tin phiên đăng nhập khi hết thời gian
                            sessionStorage.removeItem('userEmail');

                            // Chuyển hướng đến trang đăng nhập
                            window.location.href = 'https://localhost:44321/Home/Login';
                        }, sessionTimeout);

                        if (storedUserEmail === null) {
                            // Chuyển hướng đến trang đăng nhập
                            window.location.href = 'https://localhost:44321/Home/Login'; // Thay đổi đường dẫn tương ứng với trang đăng nhập của bạn
                            return;
                        }
                        console.log(storedUserEmail);
                        $.ajax({
                            type: 'GET',
                            url: `https://localhost:7008/api/Person/email?email=${storedUserEmail}`,
                            success: function (response) {
                                // Hiển thị dữ liệu từ API lên trang
                                displayUserData(response);
                                document.getElementById('userName').innerText = response.fullName;
                                document.getElementById('avatarNav').src = 'data:image/jpeg;base64,' + response.avatar
                            },
                            error: function (error) {
                                console.error('Lỗi:', error);
                            }
                        });
                    });

                    function displayUserData(data) {
                        document.getElementById('userName').innerText = data.fullName;
                        document.getElementById('avatarNav').src = 'data:image/jpeg;base64,' + data.avatar;
                    }
                    function goToProfilePage() {
                        // Chuyển trang khi nút được nhấn
                        window.location.href = '/Audience/Manage/Profile';

                    }
                </script>
                <a class="nav-link" onclick="goToProfilePage()">
                    <img id="avatarNav" src="" width="30" class="rounded-circle mr-2" alt="Card image">
                    <span id="userName" class="align-middle"></span>

                </a>

            </li>

            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg style="margin-top:10px;" class="_3DJPT" version="1.1" viewbox="0 0 32 32" width="21" height="21" aria-hidden="false" data-reactid="71"><path d="M7 15.5c0 1.9-1.6 3.5-3.5 3.5s-3.5-1.6-3.5-3.5 1.6-3.5 3.5-3.5 3.5 1.6 3.5 3.5zm21.5-3.5c-1.9 0-3.5 1.6-3.5 3.5s1.6 3.5 3.5 3.5 3.5-1.6 3.5-3.5-1.6-3.5-3.5-3.5zm-12.5 0c-1.9 0-3.5 1.6-3.5 3.5s1.6 3.5 3.5 3.5 3.5-1.6 3.5-3.5-1.6-3.5-3.5-3.5z" data-reactid="22"></path></svg>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow-lg" aria-labelledby="dropdown02">
                    <h4 class="dropdown-header display-4">Thank you for<br /> Use our platform</h4>
                    <div class="dropdown-divider">
                    </div>
                    <span class="dropdown-item"><a href="javascript:void(0);" onclick="logout()" class="btn btn-primary d-block"> LogOut</a></span>

                    <script>
                        function logout() {
                            localStorage.clear();
                            sessionStorage.clear();
                            // Điều hướng và ngăn chặn sử dụng nút "Back"
                            window.location.replace('/Home/Login');
                        }
                    </script>
                </div>
            </li>
        </ul>
    </div>

</nav>