################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FE-Artwork-Sharing/v17/.wsuo
/Artwork_Sharing_Platform/.vs/Artwork_Sharing_Platform/FileContentIndex/2cc35ac2-6097-4316-a59c-2e0855c46aca.vsidx
/Artwork_Sharing_Platform/.vs/Artwork_Sharing_Platform/FileContentIndex/38937d9d-e470-4e17-b46a-417d22a22d72.vsidx
/Artwork_Sharing_Platform/.vs/Artwork_Sharing_Platform/FileContentIndex/3ff0e871-cc8e-4995-9984-2e19ddb22b07.vsidx
/Artwork_Sharing_Platform/.vs/Artwork_Sharing_Platform/FileContentIndex/8c4490d6-1707-4224-bd78-89380d311c22.vsidx
/Artwork_Sharing_Platform/.vs/Artwork_Sharing_Platform/FileContentIndex/fb279466-600a-447e-a179-e42c7d534e12.vsidx
