################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FE-Artwork-Sharing/v17/.wsuo
/Artwork_Sharing_Platform/.vs/Artwork_Sharing_Platform/FileContentIndex/2cc35ac2-6097-4316-a59c-2e0855c46aca.vsidx
/Artwork_Sharing_Platform/.vs/Artwork_Sharing_Platform/FileContentIndex/38937d9d-e470-4e17-b46a-417d22a22d72.vsidx
/Artwork_Sharing_Platform/.vs/Artwork_Sharing_Platform/FileContentIndex/3ff0e871-cc8e-4995-9984-2e19ddb22b07.vsidx
/Artwork_Sharing_Platform/.vs/Artwork_Sharing_Platform/FileContentIndex/8c4490d6-1707-4224-bd78-89380d311c22.vsidx
/Artwork_Sharing_Platform/.vs/Artwork_Sharing_Platform/FileContentIndex/fb279466-600a-447e-a179-e42c7d534e12.vsidx
/Artwork_Sharing_Platform/.vs/Artwork_Sharing_Platform/FileContentIndex/acb9d964-ad82-4ceb-8518-c145df23fa32.vsidx
/Artwork_Sharing_Platform/.vs/Artwork_Sharing_Platform/FileContentIndex/0a1165fd-d94b-459a-bece-78359ed834dd.vsidx
/Artwork_Sharing_Platform/.vs/Artwork_Sharing_Platform/FileContentIndex/5451a7b6-f1c7-4fd4-8cc9-5e6ed33a7236.vsidx
/Artwork_Sharing_Platform/.vs/Artwork_Sharing_Platform/FileContentIndex/68cd25a3-6279-49fd-acaf-1cf84d7d98f8.vsidx
/Artwork_Sharing_Platform/.vs/Artwork_Sharing_Platform/FileContentIndex/ae76c294-0c36-43a3-b1f0-32de5353a46c.vsidx
/.gitignore
/Artwork_Sharing_Platform/.vs/Artwork_Sharing_Platform/FileContentIndex/17ffb680-acbf-4276-9c2f-83badae82523.vsidx
/Artwork_Sharing_Platform/.vs/Artwork_Sharing_Platform/FileContentIndex/27e1e9a6-be2e-4072-8760-a8b9fa74d187.vsidx
/Artwork_Sharing_Platform/.vs/Artwork_Sharing_Platform/FileContentIndex/2f10794b-12bc-4eaf-9349-ee4086b922df.vsidx
/Artwork_Sharing_Platform/.vs/Artwork_Sharing_Platform/FileContentIndex/4a222e54-4730-417a-a874-95970e1adc5a.vsidx
/Artwork_Sharing_Platform/.vs/Artwork_Sharing_Platform/FileContentIndex/606d5885-7984-40e2-8b39-63a2fee5ab8a.vsidx
/Artwork_Sharing_Platform/.vs/Artwork_Sharing_Platform/FileContentIndex/4c0be77c-be5d-48ad-9bae-1ad992ca3328.vsidx
/Artwork_Sharing_Platform/.vs/Artwork_Sharing_Platform/FileContentIndex/134f6012-c6c3-4617-bb81-b24869dc46ed.vsidx
/Artwork_Sharing_Platform/.vs/Artwork_Sharing_Platform/FileContentIndex/7a0a0073-66af-4e8f-8dd0-d646f71d7249.vsidx
/Artwork_Sharing_Platform/.vs/Artwork_Sharing_Platform/FileContentIndex/a8a1c571-4df3-435b-90ac-6fa0b8df42de.vsidx
/Artwork_Sharing_Platform/.vs/Artwork_Sharing_Platform/FileContentIndex/b39efc62-e84e-4f6f-9dab-48a4e6cacb92.vsidx
/Artwork_Sharing_Platform/.vs/Artwork_Sharing_Platform/FileContentIndex/c13443d7-2420-4ef7-aaa7-98c437bddfbf.vsidx
/Artwork_Sharing_Platform/.vs/Artwork_Sharing_Platform/FileContentIndex/2d792c8d-2deb-4912-bde7-2711c93d46e3.vsidx
/.gitignore
