################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Artwork_Sharing_Platform/.vs/Artwork_Sharing_Platform/FileContentIndex/0ffe51c3-1ca4-453e-bd22-c625bd99f215.vsidx
/Artwork_Sharing_Platform/.vs/Artwork_Sharing_Platform/FileContentIndex/377d2ee9-a8a7-4ec2-a63f-32230e59545c.vsidx
/Artwork_Sharing_Platform/.vs/Artwork_Sharing_Platform/FileContentIndex/fbdbcec5-2ee2-44c4-aef5-96a5720799d3.vsidx
/Artwork_Sharing_Platform/.vs/Artwork_Sharing_Platform/FileContentIndex/cd4dcec3-c05f-4b53-b377-322c4485fb66.vsidx
