@{
    Layout = "~/Views/Shared/defaultAuthor.cshtml";
}

<section class="bg-gray200 pt-5 pb-5">
    <div class="container">        
        <div class="row justify-content-center">
            <div class="col-md-11"">
                <article class="card" style="border-radius: 30px; box-shadow: 3px 3px 10px #c1c1c1;">
                    <div class="row">
                        <div class="col-md-6" style="overflow: hidden; display: flex; max-height: 900px;">
                            <img id="artworkImage" class="card-img-top" src="" alt="Card image" style="object-fit: cover; flex-grow: 1; border-radius: 30px; padding: 10px;">
                        </div>

                        <div class="col-md-6" style="">
                            <div class="description" style="padding: 10px; position: relative;">
                                <div style="">
                                    <h1 id="artworkTitle" style="font-size: 25px; font-weight: bold; color: #2c2b2b;"></h1>
                                    <div style="height: 4px; width: 10%; background-color: #E0E0E0;"></div>
                                    <div style="margin: 5px 0; display: flex; justify-content: space-between; align-items: center">
                                        <span id="artworkPrice" style="font-weight: 700; color: #c41818"></span>
                                        <input type="hidden" id="artPirce">
                                        <button type="button" class="comment-btn" onclick="addCart()" style="border: none; border-radius: 50%; width: 30px; height: 30px">
                                            <i class="fa-solid fa-cart-plus"></i>
                                        </button>
                                        <div class="success-msg" id="success-msg" style="display:none">
                                            <i class="fa fa-check"></i>
                                            <span id="successMessage"></span>
                                        </div>
                                    </div>
                                    <p id="artDescription" style="font-size: 18px; max-height: 200px; overflow: auto;"></p> @*text-align: justify; text-justify: inter-word;*@

                                    <div class="artist-info" style="margin-top: 10px; display: flex; justify-content: space-between">
                                        <div style="display: flex;">
                                            <img id="AvataArtist" src="https://cdn-icons-png.flaticon.com/512/1828/1828640.png" width="45" ; height="45" style="display: inline; border-radius: 50%;">
                                            <div style="margin-left: 10px">
                                                <div style="display: flex;">
                                                    <div id="NameArtist" style="font-weight: 600; "></div>
                                                    <div id="BlueTickSpan" style="display: flex; justify-content: center; align-items: center; margin-left: 5px;">
                                                        <img id="BlueTick" src="https://cdn-icons-png.flaticon.com/512/1828/1828640.png" width="12">
                                                    </div>
                                                </div>
                                                <div>
                                                    <span id="follower"></span>
                                                    <span>followers</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="display: flex; justify-content: center; align-items: center;">
                                            <button id="followButton" onclick="toggleFollow()" style="border: none; padding: 10px; border-radius: 20px; font-weight: 500">+ Follow</button>
                                        </div>
                                    </div>

                                    <div style="margin: 30px 0 10px;">
                                        <span style="font-weight: 500">Comments</span>
                                    </div>

                                    <div style="margin: 10px 0;">
                                        <section class="">
                                            <div class="">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <article class="">
                                                            <div class="comment-container" style="max-height: 250px; overflow: auto">
                                                                <div id="apiDataContainer"></div>
                                                                <script>
                                                                    $(document).ready(function () {
                                                                        var artworkId = sessionStorage.getItem("artworkID");
                                                                        $.ajax({
                                                                            type: 'GET',
                                                                            url: `https://localhost:7008/api/Comment/GetCommentForPost?artworkId=${artworkId}`,
                                                                            success: function (response) {
                                                                                console.log(response);
                                                                                if (response && response.status === "Success" && response.dataObject && response.dataObject.length > 0) {
                                                                                    response.dataObject.forEach(function (comment) {
                                                                                        // Check if the element with ID 'apiDataContainer' exists
                                                                                        var apiDataContainer = $('#apiDataContainer');
                                                                                        if (apiDataContainer.length) {
                                                                                            apiDataContainer.append(
                                                                                                `
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             <div class="profile-card" style="margin: 10px 0 20px;">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 <div class="text-section">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      <div style="display: flex;">

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        <img id="AvataArtist" src="data:image/jpeg;base64,${comment.avatar}" width="30" ; height="30" style="display: inline; border-radius: 50%;">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        <div style="margin-left: 8px">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <div style="font-weight: 500;">${comment.accountMail}</div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <div class="comment-content-date">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                <div class="comment-content" style="word-break: break-word; color: #646363 ">${comment.contentComment}</div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                <div class="comment-date" style="font-size: 10px; margin-top: 3px; color: #6d6c6c">${formatDate(comment.dateSub)}</div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            </div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        </div>

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      </div>


                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 </div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             </div>`
                                                                                            );
                                                                                        } else {
                                                                                            console.log('Element with ID "apiDataContainer" not found.');
                                                                                        }
                                                                                    });
                                                                                }
                                                                                else {
                                                                                    console.log("ERROR HTML")
                                                                                }
                                                                            },
                                                                            error: function (error) {
                                                                                console.error('Lỗi:', error);
                                                                            }
                                                                        });
                                                                    });
                                                                    function formatDate(dateString) {
                                                                        const options = { year: 'numeric', month: 'numeric', day: 'numeric' };
                                                                        const formattedDate = new Date(dateString).toLocaleDateString('vi-VN', options);
                                                                        return `<div class="comment-date">${formattedDate}</div>`;
                                                                    }

                                                                </script>

                                                            </div>
                                                        </article>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>

                                    </div>
                                </div>


                                <div id="parentContainer" style="">
                                    <div id="commentContainer" style="border-top: 1px solid #cacaca;">
                                        <div class="artist-info" style="margin: 20px 0; display: flex; justify-content: space-between; align-items: center;">
                                            <div style="font-weight: 600; font-size: 20px">
                                                <span id="count-comment"></span>
                                                <span>Comments</span>
                                            </div>
                                            <div id="ratingContainer" class="d-flex justify-content-end align-items-center">
                                                <div id="starRatingContainer"></div>
                                                <div style="margin-right: 5px; font-weight: 500; font-size: 20px">
                                                    <span id="count-like"></span>
                                                </div>
                                                <button id="likeButton" class="like-button" style="border: none; border-radius: 50%; font-size: 20px;">
                                                    <div>
                                                        <i class="fa-regular fa-heart"></i>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="comment-input-container">
                                            <div style="position: relative;">
                                                <input type="text" id="commentInput" class="" placeholder="Enter your comment" style="border-radius: 20px; border: 2px solid #7b7b7b; padding: 10px 15px; margin: 0">
                                                <button type="button" class="comment-btn" onclick="addComment()" style="position: absolute; top: 50%; transform: translateY(-50%); right: 10px; border: none; border-radius: 50%;">
                                                    <i class="fa-solid fa-arrow-right"></i>
                                                </button>
                                            </div>



                                        </div>

                                        <span id="datePost" style="color: grey; display: none;"></span>
                                    </div>
                                </div>


                                <script>

                                    // Lấy tham số userId và artworkPId từ sessionStorage
                                    var userId = sessionStorage.getItem('userId');
                                    var artworkPId = sessionStorage.getItem('artworkID');

                                    // Lấy trạng thái like khi trang được tải
                                    checkLikeStatus();
                                    function countlike() {
                                        // Gửi yêu cầu API GET để kiểm tra trạng thái like
                                        $.ajax({
                                            url: `https://localhost:7008/api/Comment/CountInteractByArtworkId?artworkId=${artworkPId}`,
                                            type: 'GET',
                                            success: function (data) {
                                                document.getElementById('count-like').innerText = data.dataObject;

                                            },
                                            error: function (error) {
                                                console.error('Error checking like status:', error);
                                            }
                                        });
                                    }
                                    function countFollow() {
                                        // Gửi yêu cầu API GET để kiểm tra trạng thái like
                                        $.ajax({
                                            url: `https://localhost:7008/api/Follow/CountFollow?userIdFollow=${userId}`,
                                            type: 'GET',
                                            success: function (data) {
                                                document.getElementById('follower').innerText = data.dataObject;

                                            },
                                            error: function (error) {
                                                console.error('Error checking like status:', error);
                                            }
                                        });
                                    }
                                    function countComment() {
                                        // Gửi yêu cầu API GET để kiểm tra trạng thái like
                                        $.ajax({
                                            url: `https://localhost:7008/api/Comment/CountCommentByArtworkId?artworkId=${artworkPId}`,
                                            type: 'GET',
                                            success: function (data) {
                                                document.getElementById('count-comment').innerText = data.dataObject;

                                            },
                                            error: function (error) {
                                                console.error('Error checking like status:', error);
                                            }
                                        });
                                    }
                                    // Thêm sự kiện click cho nút like
                                    $('#likeButton').click(function () {
                                        if ($(this).hasClass('liked')) {
                                            // Nếu đã like, gửi yêu cầu API để xóa like
                                            deleteLike();
                                            location.reload();
                                        } else {
                                            // Nếu chưa like, gửi yêu cầu API để thêm like
                                            addLike();
                                            location.reload();
                                        }
                                    });

                                    // Hàm kiểm tra trạng thái like khi trang được tải
                                    function checkLikeStatus() {
                                        // Gửi yêu cầu API GET để kiểm tra trạng thái like
                                        $.ajax({
                                            url: `https://localhost:7008/api/Comment/GetUseLikerOrNotLike?userId=${userId}&artworkId=${artworkPId}`,
                                            type: 'GET',
                                            success: function (data) {
                                                if (data.message === 'Interact found') {
                                                    const isLiked = data.dataObject.likeOrNotLike;
                                                    const likeButton = $('#likeButton');
                                                    sessionStorage.setItem('likeId', data.dataObject.id);

                                                    if (isLiked) {
                                                        likeButton.addClass('liked');
                                                    } else {
                                                        likeButton.removeClass('liked');
                                                    }
                                                } else {
                                                    console.error('Error checking like status:', data.message);
                                                }
                                            },
                                            error: function (error) {
                                                console.error('Error checking like status:', error);
                                            }
                                        });
                                    }

                                    // Hàm gửi yêu cầu API POST để thêm like
                                    function addLike() {
                                        const data = {
                                            userId: userId,
                                            artworkPId: artworkPId
                                        };

                                        // Gửi yêu cầu API POST để thêm like
                                        $.ajax({
                                            url: 'https://localhost:7008/api/Comment/CreateInteract',
                                            type: 'POST',
                                            data: JSON.stringify(data),
                                            contentType: 'application/json',
                                            success: function (data) {
                                                $('#likeButton').addClass('liked');

                                            },
                                            error: function (error) {
                                                console.error('Error adding like:', error);
                                            }
                                        });
                                    }

                                    // Hàm gửi yêu cầu API DELETE để xóa like
                                    function deleteLike() {
                                        const likeId = sessionStorage.getItem('likeId') || 'yourLikeId';

                                        // Gửi yêu cầu API DELETE để xóa like
                                        $.ajax({
                                            url: `https://localhost:7008/api/Comment/DisLike?commentId=${likeId}`,
                                            type: 'DELETE',
                                            success: function (data) {
                                                $('#likeButton').removeClass('liked');
                                            },
                                            error: function (error) {
                                                console.error('Error deleting like:', error);
                                            }
                                        });
                                    }
                                </script>
                                <script>
                                    $(document).ready(function () {
                                        checkFollowing();
                                        countlike();
                                        countComment();
                                        countFollow();
                                    });




                                    function checkFollowing() {
                                        var userId = sessionStorage.getItem('userId');
                                        var artworkPId = sessionStorage.getItem('artworkID');
                                        $.ajax({
                                            type: 'GET',
                                            url: `https://localhost:7008/api/Arwork/GetArtworkById?artworkid=${artworkPId}`,
                                            success: function (respone) {

                                                $.ajax({
                                                    type: 'GET',
                                                    url: `https://localhost:7008/api/Follow/GetFollow?userId=${userId}&userIdFollow=${respone.dataObject.userId}`,
                                                    success: function (data) {
                                                        checkFollowStatus(data.message);
                                                        console.log(data);
                                                        console.log(respone.dataObject.userId);
                                                        console.log(userId);
                                                    },
                                                    error: function (error) {
                                                        console.error('Lỗi:', error);
                                                    }
                                                });
                                            },
                                        })

                                    }
                                    function checkFollowStatus(response) {
                                        var button = document.getElementById("followButton");
                                        if (response === "Follow found") {
                                            // Toggle the "following" class
                                            button.classList.add("following");

                                            // Update button text to "Following"
                                            button.innerHTML = "Following";

                                        } else {
                                            // Remove the "following" class
                                            button.classList.remove("following");

                                            // Update button text to "+ Follow"
                                            button.innerHTML = "+ Follow";
                                        }

                                    }
                                    function postFollow() {
                                        var userId = sessionStorage.getItem('userId');
                                        var artworkPId = sessionStorage.getItem('artworkID');
                                        $.ajax({
                                            type: 'GET',
                                            url: `https://localhost:7008/api/Arwork/GetArtworkById?artworkid=${artworkPId}`,
                                            success: function (respone) {
                                                var userIdFollow = respone.dataObject.userId;
                                                $.ajax({
                                                    type: 'POST',
                                                    url: 'https://localhost:7008/api/Follow/CreateFollow',
                                                    data: JSON.stringify({
                                                        userId: userId,
                                                        userIdFollow: userIdFollow
                                                    }),
                                                    contentType: 'application/json',
                                                    success: function (data) {
                                                        // Handle success response from the API
                                                        console.log('Follow successfully:', data);
                                                        if (!button.classList.contains("following")) {
                                                            //toggleFollow("Follow found");
                                                        }
                                                        // Optionally, close the modal after successful save
                                                        location.reload();


                                                    },
                                                    error: function (error) {
                                                        console.error('Lỗi:', error);
                                                    }
                                                });
                                            },
                                        })

                                    }
                                    function deleteFollow() {
                                        var userId = sessionStorage.getItem('userId');
                                        var artworkPId = sessionStorage.getItem('artworkID');
                                        $.ajax({
                                            type: 'GET',
                                            url: `https://localhost:7008/api/Arwork/GetArtworkById?artworkid=${artworkPId}`,
                                            success: function (respone) {
                                                var userIdFollow = respone.dataObject.userId;
                                                $.ajax({
                                                    type: 'DELETE',
                                                    url: `https://localhost:7008/api/Follow/UnFollow?userId=${userId}&userIdFollow=${respone.dataObject.userId}`,

                                                    contentType: 'application/json',
                                                    success: function (data) {
                                                        // Handle success response from the API
                                                        console.log('Follow delete successfully:', data);
                                                        if (button.classList.contains("following")) {
                                                            //toggleFollow("Follow not found");
                                                        }
                                                        // Optionally, close the modal after successful save
                                                        location.reload();


                                                    },
                                                    error: function (error) {
                                                        console.error('Lỗi:', error);
                                                    }
                                                });
                                            },
                                        })

                                    }

                                    var button = document.getElementById("followButton");
                                    button.addEventListener("click", function () {
                                        // Call the toggleFollow function when the button is clicked
                                        //toggleFollow();
                                    });

                                    function toggleFollow(response) {
                                        var button = document.getElementById("followButton");
                                        if (response === "Follow found") {
                                            // Toggle the "following" class
                                            button.classList.add("following");

                                            // Update button text to "Following"
                                            button.innerHTML = "Following";

                                        } else if (response === "Follow not found") {
                                            // Remove the "following" class
                                            button.classList.remove("following");

                                            // Update button text to "+ Follow"
                                            button.innerHTML = "+ Follow";
                                        }
                                        else {

                                        }
                                        var isFollowing = button.classList.contains("following");
                                        if (!isFollowing) {
                                            // If not following, make a POST request to create follow
                                            postFollow();
                                        } else if (isFollowing) {
                                            // If following, make a DELETE request to remove follow
                                            deleteFollow();
                                        }
                                        else {

                                        }
                                    }
                                    function addCart() {
                                        var priceArt = document.getElementById('artPirce').value;
                                        var ArtImg = document.getElementById('artworkImage').src.replace(/^data:image\/\w+;base64,/, '');


                                        // Get userId and artworkPId from session
                                        var userId = sessionStorage.getItem('userId');
                                        var artworkPId = sessionStorage.getItem('artworkID');

                                        // Create a comment object with necessary values
                                        var art = {
                                            artworkPId: artworkPId,
                                            userId: userId,
                                            quanity: 1,
                                            priceArtwork: priceArt,
                                            pictureArtwork: ArtImg
                                        };
                                        console.log(art);
                                        // Call the function to send the comment to the server
                                        addToCart(art);
                                    }

                                    function showSuccessMessage(message) {
                                        // Hiển thị message
                                        $(".success-msg").fadeIn();
                                        $("#successMessage").html(message);
                                        console.log(message);
                                        // Ẩn message sau một khoảng thời gian (ví dụ: 3 giây)
                                        setTimeout(function () {
                                            $(".success-msg").fadeOut();
                                        }, 3000); // 3000 milliseconds = 3 seconds
                                    }


                                    function addToCart(obj) {
                                        $.ajax({
                                            type: 'POST',
                                            url: 'https://localhost:7008/api/ShoppingCart', // Replace with your actual API endpoint
                                            contentType: 'application/json',
                                            data: JSON.stringify(obj),
                                            success: function (response) {
                                                // Handle the success response
                                                console.log('Added Cart successfully:', response);
                                                document.getElementById('success-msg').style.display = 'flex';
                                                showSuccessMessage("Add item to cart successfully.");

                                                // If needed, update the UI to display the new comment immediately
                                                // You can call a function to refresh the comments or append the new comment to the existing ones

                                            },
                                            error: function (error) {
                                                // Handle the error response
                                                console.error('Error Cart:', error);
                                            }
                                        });
                                    }
                                    var starRating = 5; // Replace with the actual database value


                                    // Trạng thái ban đầu là chưa thả tim

                                    // Function to generate the star rating
                                    function generateStarRating() {
                                        starRatingContainer.innerHTML = ''; // Clear previous content

                                        // Create a star for each rating
                                        for (var i = 0; i < starRating; i++) {
                                            var star = document.createElement('i');
                                            star.className = 'fa fa-star text-warning'; // Assuming FontAwesome for stars
                                            starRatingContainer.appendChild(star);
                                        }

                                        // You can add half stars or empty stars based on your requirements
                                    }
                                    function getAverageStarRating() {
                                        var artworkId = getParameterByName('artworkid');
                                        $.ajax({
                                            type: 'GET',
                                            url: `https://localhost:7008/api/RateStar/GetAverageRateStar?artworkID=${artworkId}`,
                                            success: function (data) {
                                                starRating = data.dataObject;
                                                generateStarRating();
                                            },
                                            error: function (error) {
                                                console.error('Lỗi:', error);
                                            }
                                        });
                                    }
                                    $(document).ready(function () {
                                        getAverageStarRating();

                                    });
                                    function getParameterByName(name, url) {
                                        if (!url) url = window.location.href;
                                        name = name.replace(/[[]]/g, "\$&");
                                        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                                            results = regex.exec(url);
                                        if (!results) return null;
                                        if (!results[2]) return '';
                                        return decodeURIComponent(results[2].replace(/\+/g, ' '));
                                    }
                                    var isLiked = false; // Trạng thái ban đầu là chưa thả tim
                                    var likeCountValue = 0;






                                    // Function to get URL parameter by name
                                    function getParameterByName(name, url = window.location.href) {
                                        name = name.replace(/[\[\]]/g, '\\$&');
                                        const regex = new RegExp(`[?&]${name}(=([^&#]*)|&|#|$)`);
                                        const results = regex.exec(url);
                                        if (!results) return null;
                                        if (!results[2]) return '';
                                        return decodeURIComponent(results[2].replace(/\+/g, ' '));
                                    }
                                    // Call the function to generate the star rating
                                    generateStarRating();


                                    $(document).ready(function () {
                                        // Lấy thông tin artworkId từ URL
                                        var artworkId = getParameterByName('artworkid');

                                        // Kiểm tra xem artworkId có tồn tại không
                                        if (artworkId) {
                                            // Gọi API GetArtworkById với artworkId
                                            $.ajax({
                                                type: 'GET',
                                                url: `https://localhost:7008/api/Arwork/GetArtworkById?artworkid=${artworkId}`,
                                                success: function (response) {
                                                    // Hiển thị dữ liệu từ API lên trang
                                                    displayArtworkData(response.dataObject);
                                                },
                                                error: function (error) {
                                                    console.error('Lỗi:', error);
                                                }
                                            });
                                        }


                                        // Hàm để hiển thị dữ liệu từ API lên trang
                                        function displayArtworkData(data) {
                                            // Thực hiện các thay đổi cần thiết để hiển thị dữ liệu
                                            document.getElementById('artworkTitle').innerText = data.contentArtwork;
                                            // Thêm các thông tin khác tùy thuộc vào cấu trúc dữ liệu của API
                                            document.getElementById('artworkImage').src = 'data:image/jpeg;base64,' + data.pictureArtwork;
                                            document.getElementById('artworkPrice').innerText = (data.priceArtwork).toLocaleString('vi-VN') + 'VNĐ';
                                            document.getElementById('artPirce').value = (data.priceArtwork);
                                            var datePost = new Date(data.datePost);
                                            var formattedDate = ('0' + datePost.getDate()).slice(-2) + '-' + ('0' + (datePost.getMonth() + 1)).slice(-2) + '-' + datePost.getFullYear();
                                            document.getElementById('datePost').innerText = formattedDate;
                                            document.getElementById('artDescription').innerText = data.description;

                                        }


                                        // Hàm để lấy giá trị của tham số từ URL
                                        function getParameterByName(name, url) {
                                            if (!url) url = window.location.href;
                                            name = name.replace(/[[]]/g, "\$&");
                                            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                                                results = regex.exec(url);
                                            if (!results) return null;
                                            if (!results[2]) return '';
                                            return decodeURIComponent(results[2].replace(/\+/g, ' '));
                                        }
                                    });
                                    function addComment() {
                                        var commentInput = document.getElementById('commentInput').value;

                                        // Check if the comment input is not empty


                                        // Get userId and artworkPId from session
                                        var userId = sessionStorage.getItem('userId');
                                        var artworkPId = sessionStorage.getItem('artworkID');

                                        // Create a comment object with necessary values
                                        var commentData = {
                                            contentComment: commentInput,
                                            userId: userId,
                                            artworkPId: artworkPId
                                        };

                                        // Call the function to send the comment to the server
                                        postComment(commentData);
                                    }

                                    // Function to send a comment to the server
                                    function postComment(commentData) {
                                        $.ajax({
                                            type: 'POST',
                                            url: 'https://localhost:7008/api/Comment/CreateComment', // Replace with your actual API endpoint
                                            contentType: 'application/json',
                                            data: JSON.stringify(commentData),
                                            success: function (response) {
                                                // Handle the success response
                                                console.log('Comment added successfully:', response);
                                                showSuccessMessage("Comment succesfully");
                                                // If needed, update the UI to display the new comment immediately
                                                // You can call a function to refresh the comments or append the new comment to the existing ones
                                                location.reload();
                                            },
                                            error: function (error) {
                                                // Handle the error response
                                                console.error('Error adding comment:', error);
                                            }
                                        });
                                    }


                                </script>
                                <script>





                                    function getParameterByName(name, url) {
                                        if (!url) url = window.location.href;
                                        name = name.replace(/[[]]/g, "\$&");
                                        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                                            results = regex.exec(url);
                                        if (!results) return null;
                                        if (!results[2]) return '';
                                        return decodeURIComponent(results[2].replace(/\+/g, ' '));
                                    }
                                    $(document).ready(function () {
                                        // Lấy thông tin artworkId từ URL
                                        var artworkId = getParameterByName('artworkid');

                                        // Kiểm tra xem artworkId có tồn tại không
                                        if (artworkId) {
                                            // Gọi API GetArtworkById với artworkId
                                            $.ajax({
                                                type: 'GET',
                                                url: `https://localhost:7008/api/Arwork/GetArtistByArtworkId?artworkid=${artworkId}`,
                                                success: function (response) {
                                                    document.getElementById('NameArtist').innerText = response.dataObject.fullName;
                                                    // Thêm các thông tin khác tùy thuộc vào cấu trúc dữ liệu của API
                                                    document.getElementById('AvataArtist').src = 'data:image/jpeg;base64,' + response.dataObject.avatar;
                                                    if (response.dataObject.isVerifiedPage === true) {
                                                        // Nếu điều kiện đúng, hiển thị đoạn HTML
                                                        document.getElementById("BlueTick").style.display = "block";
                                                    } else {
                                                        // Nếu điều kiện sai, ẩn đoạn HTML
                                                        document.getElementById("BlueTick").style.display = "none";
                                                    }
                                                },
                                                error: function (error) {
                                                    console.error('Lỗi:', error);
                                                }
                                            });
                                        }
                                    });

                                </script>
                            </div>
                        </div>
                    </div>
                </article>

            </div>
        </div>
    </div>

</section>


<span style="display: flex; justify-content: center; align-items: center; margin: 0 0 25px; font-weight: 600; font-size: 18px">More To Explore</span>

<section class="">   
    <div class="container-list-image" style="margin: 0 30px">
        <div class="row">
            <div class="card-columns">
                <div id="apiDataContainerr"></div>
                <script>

                    $(document).ready(function () {
                        $.ajax({
                            type: 'GET',
                            url: 'https://localhost:7008/api/Arwork/GetAllArtwork',
                            success: function (response) {
                                console.log(response);
                                console.log(sessionStorage.getItem('userId'));
                                if (response && Array.isArray(response) && response.length > 0) {
                                    // Iterate through each artwork in the response
                                    response.forEach(function (artwork) {
                                        const strHTML = `
                                                                                                                                                                   <div class="" style="margin: 10px 0; ">
                                                                                                                                                                        <img class="card-img" src="data:image/png;base64, ${artwork.pictureArtwork}" alt="Artwork image" style="border-radius: 15px;">
                                                                                                                                                                             <div class="overlay" style="">
                                                                                                                                                                                <h2 class="card-title title">${artwork.contentArtwork}</h2>
                                                                                                                                                                                    <div class="more">
                                                                                                                                                                                        <a href="#" class="more-btn" data-artworkid="${artwork.artworkPId}">
                                                                                                                                                                                    <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More
                                                                                                                                                                                        </a>
                                                                                                                                 </div>
                                                                                                                             </div>
                                                                                                                         </div>`
                                            ;

                                        $('#apiDataContainerr').append(strHTML);
                                        // Thêm sự kiện click cho nút "More"
                                        $('.more-btn').click(function (e) {
                                            e.preventDefault();
                                            const artworkId = $(this).data('artworkid');
                                            sessionStorage.setItem('artworkID', artworkId);
                                            // Chuyển đến trang Manage_Post với artworkId
                                            window.location.href = `Manage_Post?artworkid=${artworkId}`;
                                        });
                                    });

                                } else {
                                    console.error('Invalid or empty response from the API.');
                                }
                            },
                            error: function (error) {
                                console.error('Error:', error);
                            }
                        });
                    });

                </script>
            </div>
        </div>
    </div>
</section>

<!-- HTML structure -->

