
@{
    Layout = "~/Views/Shared/defaultAuthor.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home - Pintereso Bootstrap Template</title>
    <script type="text/javascript">(function () { var css = document.createElement('link'); css.href = 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })();</script>
    <link rel="stylesheet" href="~/Assets/template-pintereso-bootstrap-html-master/docs/assets/css/app.css">
    <link rel="stylesheet" href="~/Assets/template-pintereso-bootstrap-html-master/docs/assets/css/theme.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <style>
        .product {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }
    </style>
    <script type="text/javascript">
        (function () {
            var css = document.createElement('link');
            css.href = 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
            css.rel = 'stylesheet';
            css.type = 'text/css';
            document.getElementsByTagName('head')[0].appendChild(css);
        })();
    </script>
</head>

<body>

    <main role="main">


        <section class="mt-4 mb-5">
            <div class="container mb-4">
                <h1 class="font-weight-bold title">Explore</h1>
                <div class="row">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white pl-2 pr-2">
                        <button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExplore" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExplore">
                            <ul class="navbar-nav active">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Lifestyle</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Animation</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Portrait</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Scenery</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
                                    <div class="dropdown-menu shadow-lg" aria-labelledby="dropdown01">
                                        <a class="dropdown-item" href="#">Monumental</a>
                                        <a class="dropdown-item" href="#">Folk</a>
                                        <a class="dropdown-item" href="#">Promote</a>
                                        <a class="dropdown-item" href="#">Religious</a>
                                        <a class="dropdown-item" href="#">Shui</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
           <div class="container-fluid">
                <div class="row">
                    <div class="card-columns">
                        <div id="apiDataContainer"></div>
                        <script>
                            $(document).ready(function () {
                                $.ajax({
                                    type: 'GET',
                                    url: 'https://localhost:7008/api/Arwork/GetAllArtwork',
                                    success: function (response) {
                                        if (response && Array.isArray(response) && response.length > 0) {
                                            // Iterate through each artwork in the response
                                            response.forEach(function (artwork) {
                                                const strHTML = `
                                                    <div class="card card-pin">
                                                        <img class="card-img" src="data:image/png;base64, ${artwork.pictureArtwork}" alt="Artwork image">
                                                            <div class="overlay">
                                                                <h2 class="card-title title">${artwork.contentArtwork}</h2>
                                                                <div class="more">
                                                                   <a href="#" class="more-btn" data-artworkid="${artwork.artworkPId}">
                                                                        <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More
                                                                    </a>
                                                                </div>
                                                            </div>
                                                    </div>`
                                                    ;

                                                $('#apiDataContainer').append(strHTML);
                                                // Thêm sự kiện click cho nút "More"
                                                $('.more-btn').click(function (e) {
                                                    e.preventDefault();
                                                    const artworkId = $(this).data('artworkid');
                                                    // Chuyển đến trang Manage_Post với artworkId
                                                    window.location.href = `Manage_Post?artworkid=${artworkId}`;
                                                });
                                            });
                                        } else {
                                            console.error('Invalid or empty response from the API.');
                                        }
                                    },
                                    error: function (error) {
                                        console.error('Error:', error);
                                    }
                                });
                            });
                          
                        </script>
                    </div>

                    </div>
                </div>
        </section>

    </main>
    

</body>

</html>

