
@{
    Layout = "~/Views/Shared/defaultAuthor.cshtml";
}




<div class="jumbotron border-round-0 min-50vh" id="backgroundProfile" style="background-image:src();">
</div>
<div class="container mb-4">
    <img id="avatarProfile" src="" class="mt-neg100 mb-4 rounded-circle" width="128">
    <h1 id="userNameProfile" class="font-weight-bold title"></h1>
    
</div>
<script>
    $(document).ready(function () {
        var storedUserEmail = sessionStorage.getItem('userEmail');
        console.log(storedUserEmail);
        console.log(sessionStorage.getItem('avatar'))
        $.ajax({
            type: 'GET',
            url: `https://localhost:7008/api/Person/email?email=${storedUserEmail}`,
            success: function (response) {
                // Hiển thị dữ liệu từ API lên trang
                displayUserData(response);
            },
            error: function (error) {
                console.error('Lỗi:', error);
            }
        });
    });
    function displayUserData(data) {
        document.getElementById('userNameProfile').innerText = data.fullName;
        document.getElementById('avatarProfile').src = 'data:image/jpeg;base64,' + sessionStorage.getItem('avatar');
        document.getElementById('backgroundProfile').src = 'data:image/jpeg;base64,' + data.backgroundImg;

    }
</script>


