
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Assets/Login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Login/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/Login/css/main.css">
    <!--===============================================================================================-->

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <style>
        #error-message {
            color: red;
            margin-top: 5px;
        }

        .tab-content {
            display: none;
        }

        .active-tab {
            display: block;
        }
    </style>
</head>
<body>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('../../assets/login/images/bg-01.jpg');">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
              <div class="wrap-input100 validate-input m-b-23" id="newPassword" data-validate="New password">
                            <span class="label-input100">New password</span>
                            <input class="input100" type="password" name="Pasword" placeholder="Type your password">
                            <span class="focus-input100" data-symbol="&#xf1ae;"></span>

                        </div>
                        <button class="button-inside-input" onclick="forgotPassword()">SEND</button>
                        <div class="text-right p-t-8 p-b-31">
                            <a href="#" onclick="showLoginTab()">Sign In</a>
                        </div>
                 </div>
        </div>
    </div>

   
    

   

    <!--===============================================================================================-->
    <script src="~/Assets/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/Login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/Login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Assets/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/Login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/Login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Assets/Login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/Login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/Login/js/main.js"></script>

</body>
</html>